.calculatorDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    grid-area: window;
    font-size: 45px;
}

.operators {
    background-color: lightblue;
    font-size: 30px;
}
.operators:hover {
    background-color: rgb(104, 192, 243);
}

.digits {
    font-size: 30px;
}

#calcTitle {
    text-align: center;
}

#container {
    
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(6, 2fr);
    grid-template-areas: 
        "window window window window"
        "clear clear backspace backspace";
}

#clearBtn {
    grid-area: clear;
    font-size: 20px;
}

#backspaceBtn {
    grid-area: backspace;
    font-size: 20px;
}

